#top.bar{
    -fx-background-color: C20C0C;
}

.tob-nav{
    -fx-border-width: 0;
    -fx-underline: false;
    -fx-font-size: 19px;
    -fx-font-style: normal;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-padding: 0 10 0 10;

}
