#top.bar{
    -fx-background-color: C20C0C;
}

.tob-nav{
    -fx-border-width: 0;
    -fx-underline: false;
    -fx-font-size: 19px;
    -fx-font-style: normal;
    -fx-font-family:  Yuanti SC;
    -fx-padding: 0 20 0 20;
    -fx-text-fill: #fff;
}

.left-menu{
    -fx-border-width: 0;
    -fx-underline: false;
    -fx-font-size: 19px;
    -fx-font-style: normal;
    -fx-font-family:  Yuanti SC;
    -fx-padding: 11 25 11 25;
    -fx-pref-width: 220.0;
}